* {
    margin: 0;
    padding: 0;
}

.app {
    border-radius: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 36vw;
    margin: 0 auto;
}

.table {
    table-layout: fixed;
    width: 36vw;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
}

.table tr {
    cursor: pointer;
    height: 6vw;
}

.table tr td {
    border-radius: 10px;
    font-size: 2vw;
    color: darkorange;
    ;
}

.contr {
    border-radius: 10px 10px 0 0;
    height: 50px;
    width: 36vw;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    font-size: 2vw;
}

.contr span {
    cursor: pointer;
}

.color {
    position: relative;
    display: block;
    height: 0.2vw;
    width: 100%;
    background-color: rgb(124, 181, 173);
}

.week {
    border-top: 1px solid gray;
    height: 5vw;
    width: 36vw;
    display: flex;
    justify-content: space-around;
    line-height: 5vw;
    font-size: 2vw;
}

.remind {
    border-radius: 10px;
    height: 100px;
    width: 36vw;
    border: 1px solid red;
    position: relative;
    z-index: 1500;
    margin: 0 auto;
}

.button {
    width: 100%;
    height: 20px;
    bottom: -5px;
    right: 5px;
    text-align: center;
    border: 1px solid darkkhaki;
}

@media screen and (max-width: 1000px) {
    .app {
        position: absolute;
        top: 1vh;
        border-radius: 10px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        width: 98vw;
        margin: 0 auto;
    }
    .table {
        table-layout: fixed;
        width: 98vw;
        border-radius: 10px;
        background-color: rgb(246, 246, 246);
    }
    .table tr {
        cursor: pointer;
        height: 9vh;
    }
    .table tr td {
        border-radius: 10px;
        font-size: 4vw;
        color: darkorange;
        ;
    }
    .contr {
        border-radius: 10px 10px 0 0;
        height: 50px;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        line-height: 50px;
        font-size: 4vw;
    }
    .contr span {
        cursor: pointer;
    }
    .color {
        position: relative;
        display: block;
        height: 0.2vw;
        width: 100%;
        background-color: rgb(124, 181, 173);
    }
    .week {
        border-top: 1px solid gray;
        height: 10vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        line-height: 10vh;
        font-size: 4vw;
    }
    .remind {
        border-radius: 10px;
        height: 20vh;
        width: 98vw;
        border: 1px solid red;
        position: relative;
        z-index: 1500;
        margin: 0 auto;
    }
}